html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    flex: 1;
    width: 90% !important;
    
}


footer {
    
}
.py-5 {
    padding-top: 1em !important; /* উপরের প্যাডিং কমানো */
    padding-bottom: 0.5em !important;
    
}