<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParcelPicUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParcelPicUp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ParcelPicUp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Parcels" asp-action="Index">Parcels</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="UserRoles" asp-action="Index">Manage Roles</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="bg-dark">

        <div class="container wow fadeInUp">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">

                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="navbar-brand nav-logo text-white" href="#">SecO<strong style="color: #0A767B;">ps</strong> </a>
                            </li>
                            <li class="nav-item mb-2">
                                <p style="font-size: 10px;margin: 0px 24px 0px 0px;" class="text-white">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Morbi sit amet neque tortor.
                                </p>
                            </li>
                        </ul>
                        <ul class="d-flex" style="margin:0px 0px 0px -30px;">
                            <li class="nav-item "><a href="#" class="nav-link  text-white"><img class="footer-gap" src="~/img/FB.png" alt=""></a></li>
                            <li class="nav-item "><a href="#" class="nav-link  text-white"><img class="footer-gap" src="~/img/Twitter.png" alt=""></a></li>
                            <li class="nav-item "><a href="#" class="nav-link  text-white"><img class="footer-gap" src="~/img/Ig.png" alt=""></a></li>
                        </ul>



                    </div>

                    <div class="col-6 col-md-2 mb-3">

                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link  text-white"><strong>Quick Links</strong></a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link  text-white">About Us</a></li>



                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="DashBoard" asp-action="Index">CMS</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">

                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link text-white"><strong>Contact Us</strong></a></li>
                        </ul>
                        <ul class="d-flex">
                            <li class="nav-item"><a href="#" class="nav-link text-white contact-icon"><img src="./img/Vector (2).png" alt=""></a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white">support@secopsbd.com</a></li>
                        </ul>
                        <ul class="d-flex">
                            <li class="nav-item"><a href="#" class="nav-link text-white contact-icon"><img src="./img/Vector (3).png" alt=""></a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white">Gulshan 1,Road 117,House 35</a></li>
                        </ul>


                    </div>

                    <div class="col-md-5 offset-md-1 mb-3">
                        <form>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn text-white" style="background:#0A767B;" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

            </footer>
        </div>

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ParcelPicUp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
